body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #333;
}

.navbar a:link {
    color: white;
}

.navbar a:visited {
    color: lightblue;
}

ul, ol {
    list-style-position: inside;
}

ol {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#aboutMe, #partnerAndPets, #getInTouch{
    font-size: 20px;
    padding: 30px;
    border: black 10px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: white;
}

figure {
   font-size: smaller; 
}

#partnerAndPets, #getInTouch {
    height: 100%;
}

#aboutMe, #getInTouch {
    text-align: center;
}
#partnerAndPets {
    text-align: left;
}
#partnerAndPets h1 {
    text-align: center;
}

#getInTouch ul {
    list-style-type: none;
}